<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./icon.png">
    <title>About</title>
  </head>
  <body>
    {{>header}}
    <p>Program will help you to get weather.</p>
    {{>footer}}
  </body>
</html>